@use './color';
@use './font';
@use './spacing';

html {
    height: 100%;
}

body {
    user-select: none;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: color.$background;
    color: color.$text;

    @include font.default(0);
}

h1 {
    margin: 0;
    @include font.default(1);
}

h2 {
    margin: 0;
    @include font.default(0.5);
}

p {
    margin: 0;
}

router-outlet {
    position: absolute;
}
