<h1 ptI18n="settings"></h1>
<div class="button-grid-5">
    <button type="button" routerLink="ui" routerLinkActive="active" ptI18n="settings.ui"></button>
    <button type="button" routerLink="player" routerLinkActive="active" ptI18n="settings.player"></button>
    <button type="button" routerLink="recorder" routerLinkActive="active" ptI18n="settings.recorder"></button>
    <button type="button" routerLink="midi" routerLinkActive="active" ptI18n="settings.midi"></button>
    <button type="button" routerLink="camera" routerLinkActive="active" ptI18n="settings.camera"></button>
</div>
<router-outlet></router-outlet>
<div class="button-grid-2">
    <button type="button">Save</button>
    <button type="button">Reset</button>
</div>
