@use '../../../style/spacing';

:host {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: spacing.gap(1);

    & > .content {
        align-self: stretch;
        flex: 1 1;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        column-gap: spacing.gap(1);
    }
}
