@use '../../../../style/spacing';

:host {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: spacing.padding(0);
}

.send-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: spacing.padding(0);
}

.pre-post {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: spacing.padding(0);
}
