<form class="form-grid-2">
    <label for="settings.recorder.device" ptI18n="settings.device"></label>
    <select id="settings.recorder.device">
    </select>
    <label for="settings.recorder.samplerate" ptI18n="samplerate"></label>
    <select id="settings.recorder.samplerate" mSelectSamplerate></select>
    <label for="settings.recorder.latency" ptI18n="settings.latency"></label>
    <div class="input-group">
        <input id="settings.recorder.latency" type="number" min="0" max="10000" step="100">
        <span>ms</span>
    </div>
</form>    
