@use '../../src/style/spacing';

:host {
    flex: 1 1;
    align-self: stretch;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.content {
    flex: 1 1;
    padding: spacing.gap(1);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}