@use '../../../../style/spacing';

:host {
    align-self: center;
    padding: spacing.padding(0);
    display: grid;
    grid-template-columns: auto auto;
    align-items: start;
    justify-items: start;
    gap: spacing.padding(0) spacing.padding(0);
}
