<div class="section stretch">
    <span>FX</span>
    <button type="button" (click)="onToggle()" [mActive]="enabled()">On</button>
</div>
<div class="content">
    <select [value]="name()" (mChanged)="onChange($event)">
        @for(n of effectNames(); track n) {
            <option [value]="n">{{n}}</option>
        }
    </select>
    <m-fx-param-grid [effect]="name()" [values]="parameters()" (changeValues)="onChangeParameters($event)"></m-fx-param-grid>
    <button type="button" (click)="onApply()">Apply</button>
</div>