:host {
    cursor: ns-resize;
    display: flex;
    filter: hue-rotate(190deg) saturate(10%) brightness(300%);

    &.cyan {
        filter: hue-rotate(190deg) saturate(50%) brightness(400%);
    }

    &.orange {
        filter: hue-rotate(50deg) saturate(50%) brightness(350%);
    }
}