<form class="form-grid-2">
    <label for="waveEditorNew.name" ptI18n="waveEditorNew.name"></label>
    <input id="waveEditorNew.name" type="text" [field]="form.name" [mValid]="form.name().valid()" spellcheck="false" size="24">
    <label for="waveEditorNew.samplerate" ptI18n="samplerate"></label>
    <select id="waveEditorNew.samplerate" [field]="form.samplerate" mSelectSamplerate></select>
    <label for="waveEditorNew.channels" ptI18n="channels"></label>
    <button id="waveEditorNew.channels" type="button" mToggleButton [model]="this.form.stereo().value" ptI18n="stereo"></button>
    <label for="waveEditorNew.length" ptI18n="waveEditorNew.length"></label>
    <div class="input-group">
        <input id="waveEditorNew.length" type="number" [field]="form.length" [mValid]="form.length().valid()" step="1">
        <select mSelectUnit></select>
    </div>
</form>
