<button type="button" routerLink="/tracks" routerLinkActive="active">Tracks</button>
<button type="button" routerLink="/mixer" routerLinkActive="active">Mixer</button>
<button type="button" routerLink="/wave" routerLinkActive="active">Wave</button>
<button type="button" routerLink="/midi" routerLinkActive="active">Midi</button>
<button type="button" routerLink="/synthesizer" routerLinkActive="active">Synthesizer</button>
<button type="button" routerLink="/effects" routerLinkActive="active">FX</button>
<button type="button" routerLink="/settings" routerLinkActive="active">Settings</button>