@use '../../../style/spacing';

:host {
    padding-top: spacing.gap(0);
    padding-bottom: spacing.gap(0);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: spacing.gap(1);

    & > .p1, & > .p2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;    
    }

    & > .p2 {
        row-gap: spacing.gap(-1);
    }
}